[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Peng, Yingbo
	email = yinpeng@paypal.com
[core]
	editor = vim
	autocrlf = input
	whitespace = cr-at-eol
	excludesfile = /Users/yinpeng/.gitignore_global
